/* style.css */

* {
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    background-color: lightgreen;
    color: darkblue;
    font-weight: 800;
    text-align: center;
}

.subsection {
    margin-left: 50px;
}

img {
    width: 500px;
    height: auto;
}

ul {
    list-style-type: square;
    color: purple;
}

ol {
    list-style-type: upper-roman;
}